@import 'vars';
.styled-table {
    border-collapse: collapse;
    width:100%;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background-color: white;
}

.styled-table thead tr {
    color: var(--blue);
    text-align: center;
    font-size: var(--lg);
}

.styled-table th{
    padding:10px;
    border-bottom: 2px solid #f2f2f2;
}

.styled-table td{
    text-align:center;
    padding:8px;
    border-bottom: 1px solid #f2f2f2;
}

.icon-two-container{
    display:flex;
    justify-content:center;
    align-items: center;
}

.icon-two-container >*{
    margin:15px;
    cursor:pointer;

}

.button-create{
    margin-bottom:12px;
    width:100%;
    height:30px;
    color: white;
    background-color:var(--blue);
    border: none;
    border-radius:10px;
    font-size: var(--s);
}

.button-create:hover{
    background-color: var(--yellow);
    color: black;
    cursor: pointer;
}
