@import 'vars';

body{
    margin:0;
    font-family: 'Montserrat', sans-serif;
    background-color: #f2f2f2;
}
.Layout{
    display:flex;
    position:relative;
}
.main_content{
    width:100%;
    margin-left:152px;
}
.content{
    margin:50px;
}
